@font-face{
    font-family:Poppins;
    src:url("../fonts/Poppins-Regular.ttf");
}
 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background-color: #6AB5B1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
    padding-top: 120px;
}



header {
    width: 100%;
    background-color: #10393E;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

header .logo img {
    height: auto;
    width: 230px;
}
nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}

nav a:hover {
    color: #f6c761;
    text-decoration: underline;
}

/* Page Structure */
.page {
    width: 80%;
    max-width: 1200px;
    margin: 40px 0;
    background-color: #EBEDD7;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


.page-content {
    text-align: center;
}

h1 {
    font-size: 2em;
    color: #333333;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    color: #333333;
    margin-bottom: 20px;
}

.image-placeholder.main {
    width: 100%;
    max-width: 1500px;
    height: 500px;
    display: flex;
    justify-content: center;

}

.image-placeholder,
.map-placeholder {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333333;
    font-size: 1.2em;
    margin: 20px 0;
}

.image-placeholder.large,
.map-placeholder.large {
    height: 300px;
}

.image-placeholder img,
.map-placeholder img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* Product Section */
.product-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;

}

.product {
    flex: 1;
    background-color: #6AB5B1;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.product:hover {
    transform: scale(1.05);
}

.product h3 {
    font-size: 1.3em;
    color: black;
    margin-top: 10px;
}

.product p {
    font-size: 0.9em;
    color: #333333;
    margin-top: 10px;
}

/* Contact Section */
#contact h2 {
    color: #10393E;
}

#contact p {
    font-size: 1em;
    color: #333333;
    margin: 10px 0;
}



/* for phones */
@media (max-width: 768px) {

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    header {
        padding: 10px 15px;
    }

    header .logo {
        font-size: 1.2em;
    }

    nav a {
        font-size: 1em;

        margin: 5px 0;
    }

    .page {
        width: 90%;
        padding: 20px;
    }

    h1 {
        font-size: 1.8em;
    }

    .product-grid {
        flex-direction: column;
    }

    .product {
        margin: 10px 0;
    }

    .image-placeholder,
    .map-placeholder {
        height: 150px;
        font-size: 1em;
    }

    .image-placeholder.large,
    .map-placeholder.large {
        height: 200px;
    }
}